.uni-container.client {
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  box-shadow: $default-shadow;
  overflow-x: auto;
  white-space: nowrap;

  @media only screen and (max-width: 450px) {
    justify-content: flex-start;
  }
}

.unis-choose {
  display: flex;
  flex-wrap: nowrap;
  word-break: keep-all;
  column-gap: 2rem;
  justify-content: flex-start;
  margin: 0 2rem;
  width: 45rem;
}

.tree-node-content .node-step-name,
.tree-node-content .node-step-uni,
.tree-node-content .alert__text,
.unis-choose .checkbox-label {
  overflow-wrap: normal;
  word-break: normal;
}

.unis-choose .checkbox-label {
  white-space: nowrap;
}
