/* apply to both possibilities */
.uni-container,
.uni-container.client {
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  box-shadow: $default-shadow;
  overflow-x: auto;
  white-space: nowrap;

  /* override global body break-word */
  overflow-wrap: normal !important;
  word-wrap: normal !important;
  word-break: keep-all !important;

  @media only screen and (max-width: 450px) {
    justify-content: flex-start;
  }
}

.unis-choose {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 2rem;
  justify-content: flex-start;
  margin: 0 2rem;
  width: 45rem;
}

.unis-choose .checkbox-label {
  white-space: nowrap !important;
  overflow-wrap: normal !important;
  word-wrap: normal !important;
  word-break: keep-all !important;
}

/* also for the tree text */
.tree-node-content .node-step-name,
.tree-node-content .node-step-uni {
  overflow-wrap: normal !important;
  word-wrap: normal !important;
  word-break: keep-all !important;
}
