.side-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: default;

    &__top {
        &__title {
            color: #fff;
            font-size: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3rem 2rem;
            background-color: $main-color;
            box-shadow: $default-shadow;
            position: relative;

            &__close {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
}

.side-bar__last-updated {
  opacity: 0.85;
  margin: 1.25rem 0 0.75rem;
  padding: 0 1rem;
  text-align: center;
  direction: rtl;
  font-size: 0.85rem;
  color: #8a8a8a;

  overflow-wrap: normal;
  word-break: keep-all;
}



@import "./SideBarLinks/index";
@import "./Logout/index";
